<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <gallery>
            <general>
                <enable>1</enable>
                <header_link>1</header_link>
                <footer_link>1</footer_link>
                <page_url>gallery</page_url>
                <link_title>Gallery</link_title>
                <page_title>Gallery</page_title>
                <page_description>Gallery</page_description>
                <meta_title>Gallery</meta_title>
                <meta_keywords>Gallery</meta_keywords>
                <meta_description>Gallery</meta_description>
                <display_mode>one_page_with_category_filter</display_mode>
                <category_url_prefix>category</category_url_prefix>
                <category_url_suffix>html</category_url_suffix>
                <thumb_width>185</thumb_width>
                <thumb_height>145</thumb_height>
                <aspect_ratio>0</aspect_ratio>
                <keep_frame>0</keep_frame>
                <background_color>#000</background_color>
                <space_between_images>5</space_between_images>
            </general>
        </gallery>
    </default>
</config>
